<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listagem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h2 class="text-center">Listagem de Lancamentos</h2>

        <div class="card" style="width: 18rem;" th:each="entry: ${entries}">

            <div class="card-body">

                <h5 class="card-title" th:text="${entry.description}"></h5>

                <h6 class="card-subtitle mb-2 text-muted" th:text="${entry.category.name}"></h6>

                <p class="card-text" th:text="${entry.category.name}"></p>

                <p class="card-text" th:text="${entry.dueDate}"></p>

                <p class="card-text" th:text="${entry.duePay}"></p>

                <p class="card-text" th:text="${entry.value}"></p>

                <p class="card-text" th:text="${entry.type.type}"></p>

            </div>

        </div>

    </div>

</body>
</html>